<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container container-fluid">
        <div class="p-5">
            <div>
                <h1>Hi this is home page</h1>
                <a href="{% url 'gotoLogin' %}">
                    <button class="btn btn-primary btn-large btn-link">Login</button>
                </a>
                
            </div>
        </div>
    </div>
</body>
</html>